html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
}

.footerbody {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #ffffff;
    background: #1b1919;
    margin-top: 100px;
}

footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container .secoverons {
    width: 40%;
}

footer .container .secoverons h2 {
    position: relative;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container .secoverons h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 90px;
    height: 2px;
    background: #f00;
}

footer .container p {
    color: #999;
}

footer .container .locatie h2 {
    position: relative;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container .locatie h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: auto;
    width: 70px;
    height: 2px;
    background: #f00;
}

/* dit is hoe wijd*/
footer .container .locatie {
    width: 40%;
}

/* Dit is de de padding omheen*/
fieldset {
    width: 30%px;
    height: 70%px;
    border: 2px solid color(srgb rgb(14, 14, 14) green blue);
    /* Set the border properties */
    padding: 20px;
    /* Set padding inside the fieldset */
    margin: 20px;
}

/* deze code zorgt ervoor dat alle functies in het midden van de pagina zijn in feedback*/
.feedbackinh {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

/*Dit is het verzend knopje van de feedback paige*/
.send {
    color: white;
    background-color: #000;
    margin-top: 20px;
    padding: 10px;
}